body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7; /* Couleur de fond claire */
    color: #333; /* Couleur de texte */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #c8102e; /* Couleur du drapeau marocain */
    padding: 10px 0;
}

header h1 {
    color: #fff; /* Couleur du texte en blanc */
    text-align: center;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff; /* Couleur des liens en blanc */
    text-decoration: none;
    font-weight: 700;
}

.hero {
    background-image: url('https://example.com/your-image.jpg'); /* Remplace par une image inspirante du Maroc */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 20px;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin: 0;
}

.hero p {
    font-size: 20px;
    margin-top: 10px;
}

.info-section {
    padding: 50px 20px;
    text-align: center;
}

.info-section h2 {
    font-size: 28px;
    margin: 20px 0;
}

footer {
    background-color: #333; /* Couleur sombre pour le pied de page */
    color: white;
    text-align: center;
    padding: 10px 0;
}

